{% extends 'core/base.html' %}

{% block title %}
    Contact
{% endblock %}
{% block content %}
    <h1 class="mb-6 text-3xl">The contact page</h1>
    <p>This is an e-commerce marketplace specialized for trading card collectors. This mock website was made with Python Django and TailwindCSS. Through this project, I learned web development- both front and back end. For frontend development, I learned styling fundamentals for UI design. For backend development, I gained experience in the logic and frameworks of database management and user authentication. The special features of this website include: communication between users, form handling and customizations, user signup/login, and search/filtering items. This project was made possible throught the guidance of FreeCodeCamp, CodewithStein, and Piko Can Fly.</p>
    <br>
    <p class="text-semibold text-indigo-500 "> Ask me questions at pvaldes@nd.edu </p>
{% endblock %}