{% extends 'core/base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">My items</h2>

        <div class="grid grid-cols-6 gap-5">
            {% for item in items%}
                <div style="display: grid; grid-template-columns: repeat(1, 1fr); row-gap: 30px; gap: 10px;">
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl" style="object-fit: cover; height: 300px; width: 650px;">
                        </div>

                        <div class="p-5 bg-white rounded-b-xl">
                            <h2 class="text-m">{{ item.name }}</h2>
                            <p class="text-gray-500"> ${{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}